:root {
  /* PRIMARY */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* ACCENT */
  --blue: hsl(248, 32%, 49%);
  /* NEUTRAL */
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
  /* TYPOGRAPHY */
  --poppins: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  background-image: url('/images/bg-intro-mobile.png');
  background-color: var(--red);
  color: white;
  min-height: 100vh;
  font-family: var(--poppins);
}
main {
  padding: 30px 20px;
}
.main-container {
  text-align: center;
}
.offer-container {
  background-color: var(--blue);
  margin: 20px 0;
  padding: 15px 25px;
  text-align: center;
  border-radius: 8px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
   