:root {
  /* PRIMARY */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* ACCENT */
  --blue: hsl(248, 32%, 49%);
  /* NEUTRAL */
  --darkBlue: hsl(249, 10%, 26%);
  --grayishBlue: hsl(246, 25%, 77%);
  /* TYPOGRAPHY */
  --poppins: "Poppins", sans-serif;
}
body {
  font-size: 16px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
